absl-py==2.1.0
astunparse==1.6.3
brotlicffi==1.1.0.0
cachetools==5.5.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
filelock==3.16.1
fsspec==2025.2.0
google-auth==2.37.0
google-auth-oauthlib==1.2.1
grpcio==1.70.0
gviz-api==1.10.0
idna==3.10
Jinja2==3.1.5
Markdown==3.7
MarkupSafe==3.0.2
-e git+https://github.com/hexsnow/mcm.git@b4d25fb02f9c8471a35303b17b400b0f062b463f#egg=mcm
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.3
oauthlib==3.2.2
pillow==11.1.0
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybind11==2.13.6
pycparser==2.22
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
setuptools==75.8.0.post0
six==1.17.0
sympy==1.13.3
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorboard-plugin-profile==2.11.1
tensorboard-plugin-wit==1.7.0
torch==2.5.1
typing_extensions==4.12.2
urllib3==2.3.0
Werkzeug==3.1.3
wheel==0.45.1
